<div class="container">
  <h2>Veneer management system</h2>
  <form  #loginForm="ngForm"  (ngSubmit)="loginUser()">
<!--  {{loginForm.form.valid}}-->
    <img src="https://image.flaticon.com/icons/svg/1822/1822612.svg" width="50" height="50">
    <div  class="form-group">
      <label for="code">Card:</label>
      <input type="text" class="form-control" id="code" placelholder="Scan your card"
             name="code"
            [(ngModel)]="user.code"
             required #code="ngModel"
             [class.is-invalid]="code.invalid && code.touched"
             >
  <small class="text-danger" [class.d-none]="code.valid || code.untouched">Code is required field</small>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"
             [(ngModel)]="user.password"

             required #password="ngModel"
             [class.is-invalid]="password.invalid && password.touched"
      >
      <small class="text-danger"
             [class.d-none]="password.valid || password.untouched">
        Password is required field</small>

    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>

    <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-info">Login</button>
  </form>
  <small class="float-right" [routerLink]="['/registeruser']">New user? Register here</small>
  <small class="text-danger" >{{msg}}</small>
</div>
