<router-outlet>
  <nav  *ngIf="nav.visible" class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="machines" class="nav-link" routerLinkActive="active">Machine List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add machine</a>
      </li>
      <li class="nav-item">
        <a routerLink="users" class="nav-link" routerLinkActive="active">User List</a>
      </li>

      <li class="nav-item">
        <a routerLink="items" class="nav-link" routerLinkActive="active">Item List</a>
      </li>
      <li class="nav-item">
        <a routerLink="addItems" class="nav-link" routerLinkActive="active">Add item</a>
      </li>
      <li class="nav-item">
        <a routerLink="packs" class="nav-link" routerLinkActive="active">Packs</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>-->
<!--      </li>-->
    </ul>
  </nav>

  <div class="container">

    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container" ><img width="150" src="https://www.finieris.lv/images/latvijas_finieris.png">
      <span><br>All Rights Reserved 2020 @LatvijaFinieris</span>
    </div>
  </footer>

</router-outlet>
